<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Login</h1>
                <form >
                    <input title="Benutzername" name="username" type="text" ng-model="username"/>
                    <input title="Passwort" name="password" type="password" ng-model="password"/>
                    <button class="btn-lg" ng-click="loginCtrl.login(username,password); navCtrl.setActive('startpage'); contextCtrl.selectBetter(username)">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>